<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="">
  <clear />
  <add key="ApiClient.ClientId" value="YOUR VALUE HERE" />
  <add key="ApiClient.ClientSecret" value="YOUR VALUE HERE" />
  <add key="ApiClient.RedirectUri" value="https://localhost:36220/oauth2/" />
  <add key="ApiClient.ListenUri" value="https://+:36220/oauth2/" />
  <add key="ApiClient.AccessToken" value="" />
  <add key="ApiClient.RefreshToken" value="" />
  <add key="ApiClient.ExpirationDateTime" value="" />
 </appSettings>
</configuration>
